@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="padding-top:60px;">
    @* <h1 class="display-5" style="font-weight: 700;">Welcome</h1>
    <h2 class="display-4" style="font-weight: 700;">To</h2> *@
    <h1 class="display-4" style="font-weight: 700;"><span style="color:#0070bc">Infinity</span>Life</h1>
    <p>Empowering our employees, enriching our workplace.</p>
</div>
<div class="container" style="padding-top:10px;">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 text-center">
            <a class="btn btn-primary" asp-controller="Login" asp-action="Login">Login</a>
        </div>
        @* <div class="col-md-4 text-center">
            <h2>For HR & Directors</h2>
            <a class="btn btn-secondary" asp-controller="Login" asp-action="Login">Admin Login</a>
        </div> *@
    </div>
</div>