@model InfinityLife.Models.Employee

@{
    ViewData["Title"] = "Create Employee";
}

<h2>Create New Employee</h2>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Create New Employee</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!--Role-->
                        <div class="form-group mb-3">
                            <label for="EmployeeRole" class="control-label">Role</label>
                            <select asp-for="EmpRoleId" class="form-control" asp-items="@(new SelectList(ViewBag.Roles, "EmpRoleId", "EmpRole"))" required>
                                <option value="">Select Role</option>
                                @*  @foreach (var role in ViewBag.Roles)
                                {
                                    <option value="@role.EmpRoleId">@role.EmpRole</option>
                                } *@
                            </select>
                            <span asp-validation-for="EmpRoleId" class="text-danger"></span>
                        </div>
                        <!--First Name-->
                        <div class="form-group mb-3">
                            <label asp-for="EmpFirstName" class="control-label">First Name</label>
                            <input asp-for="EmpFirstName" class="form-control" type="text" required />
                            <span asp-validation-for="EmpFirstName" class="text-danger"></span>
                        </div>
                        <!--Last Name-->
                        <div class="form-group mb-3">
                            <label asp-for="EmpLastName" class="control-label">Last Name</label>
                            <input asp-for="EmpLastName" class="form-control" type="text" required />
                            <span asp-validation-for="EmpLastName" class="text-danger"></span>
                        </div>
                        <!--Phone no-->
                        <div class="form-group mb-3">
                            <label asp-for="EmpPhone" class="control-label">Phone No</label>
                            <input asp-for="EmpPhone" class="form-control" type="tel" required />
                            <span asp-validation-for="EmpPhone" class="text-danger"></span>
                        </div>
                        <!--Email-->
                        <div class="form-group mb-3">
                            <label asp-for="EmpEmail" class="control-label">Email</label>
                            <input asp-for="EmpEmail" class="form-control" type="email" required />
                            <span asp-validation-for="EmpEmail" class="text-danger"></span>
                        </div>
                        <!--Address-->
                        <div class="form-group mb-3">
                            <label asp-for="EmpAddress" class="control-label">Address</label>
                            <input asp-for="EmpAddress" class="form-control" type="text" required />
                            <span asp-validation-for="EmpAddress" class="text-danger"></span>
                        </div>
                        <!--EmergencyContact-->
                        <div class="form-group mb-3">
                            <label asp-for="EmergencyContact" class="control-label">Emergency Contact</label>
                            <input asp-for="EmergencyContact" class="form-control" type="tel" required />
                            <span asp-validation-for="EmergencyContact" class="text-danger"></span>
                        </div>
                        <!--Bloodgroup-->
                        <div class="form-group mb-3">
                            <label asp-for="Bloodgroup" class="control-label">Blood group</label>
                            <input asp-for="Bloodgroup" class="form-control" type="text" required />
                            <span asp-validation-for="Bloodgroup" class="text-danger"></span>
                        </div>
                        <!--AadharNo-->
                        <div class="form-group mb-3">
                            <label asp-for="AadharNo" class="control-label">Aadhaar No</label>
                            <input asp-for="AadharNo" class="form-control" type="text" required />
                            <span asp-validation-for="AadharNo" class="text-danger"></span>
                        </div>
                        <!--PanNo-->
                        <div class="form-group mb-3">
                            <label asp-for="PanNo" class="control-label">Pan No</label>
                            <input asp-for="PanNo" class="form-control" type="text" required />
                            <span asp-validation-for="PanNo" class="text-danger"></span>
                        </div>
                        <!--DOB-->
                        <div class="form-group mb-3">
                            <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                            <input asp-for="DateOfBirth" class="form-control" type="date" required />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <!--DOJ-->
                        <div class="form-group mb-3">
                            <label asp-for="DateOfJoining" class="control-label">Date Of Joining</label>
                            <input asp-for="DateOfJoining" class="form-control" type="date" required />
                            <span asp-validation-for="DateOfJoining" class="text-danger"></span>
                        </div>
                        <!--Password-->
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="control-label">Password</label>
                            <input asp-for="Password" class="form-control" type="password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="BasicSalary" class="control-label">Basic Salary</label>
                            <input asp-for="BasicSalary" class="form-control" type="number" required />
                            <span asp-validation-for="BasicSalary" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="HRA" class="control-label">HRA</label>
                            <input asp-for="HRA" class="form-control" type="number" required />
                            <span asp-validation-for="HRA" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Conveyance" class="control-label">Conveyance</label>
                            <input asp-for="Conveyance" class="form-control" type="number" required />
                            <span asp-validation-for="Conveyance" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="OtherAllowances" class="control-label">Other Allowances</label>
                            <input asp-for="OtherAllowances" class="form-control" type="number" required />
                            <span asp-validation-for="OtherAllowances" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PF" class="control-label">PF</label>
                            <input asp-for="PF" class="form-control" type="number" required />
                            <span asp-validation-for="PF" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ESIC" class="control-label">ESIC</label>
                            <input asp-for="ESIC" class="form-control" type="number" required />
                            <span asp-validation-for="ESIC" class="text-danger"></span>
                        </div>
                        <!------------------------------------------------------------------------------->
                        <div class="form-group mb-3">
                            <label asp-for="ProfessionalTax" class="control-label">Professional Tax</label>
                            <input asp-for="ProfessionalTax" class="form-control" type="number" required />
                            <span asp-validation-for="ProfessionalTax" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="IncomeTax" class="control-label">Income Tax</label>
                            <input asp-for="IncomeTax" class="form-control" type="number" required />
                            <span asp-validation-for="IncomeTax" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                        <div>
                            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Back Dashboard</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

